@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: face;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto&display=swap");
}
*{
    margin:0;
    padding: 0;
}

.navbar{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 6px;
    
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.menu{
    text-align: center;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li{
    margin: 0 10px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    
}

.button{
    background-color: blue;
    height: 36px;
    width: 100px;
    color: white;
    padding: 10px 20px;
    border: none;
    align-items: center;
    font-weight: bold;
}

.design{
    display: flex;
    margin: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image:url("/images/pc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: medium;
}

.btn-play img{
    border: none;
    border-radius: 50%;
    height: 30px;
    padding: 30px;
    width: 30px;
    background-color: transparent;
    background-position: center;
}





.para {
    margin: 10%;
    display: flex;
    text-align: center;
    font-size: 22px;
}


.cta{
    background: #39467b;
   padding: 70px 0;
    border: 3px solid white;
    text-align: center;
    color: white;
}

.btn-primary{
    
    text-align: center;
    padding: 20px;
    background-color:#39467b;
    color: white;
    width: 200px;
    text-transform: uppercase;  
    margin: 50px;
}
.map{
    border: 3px solid;
    margin: 3px;
    padding: 2px;
    background-color: black;
}
iframe{
    width: 1337px;
    padding: 70px 0;
    
}
