/* reset css */
*{
    margin: 0;
    border:0;
    font-size: 100%;
    font: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}

/* grid layout (bootstrap) */
/* helper */
.container1{
    width:1200pxs;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col-3{
    width: 33%;
    background-image: url("/images/laptop1.jpg");
    background-size: cover;
}

/* main */
ul.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

.site-icon{
    color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
}

li.nav-item {
    float: left;
}

li.nav-item a{
    display: inline-block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}
li.nav-item a:hover{
    background-color: blueviolet;
}

li.nav-title {
    float:left;
    font-size: 24px;
    padding: 10px 16px;
    color: rgb(190, 120, 120);
    display: flex;
    justify-content: center;
    
}

.nav-menu{

    display: flex;
    justify-content: space-evenly;

}
.Buy{
    display: flex;
    padding: 10px;
    justify-content: right;
    text-align: right;
    background-color: blueviolet;
    color: white;
    border: hidden;
    font-weight: bold;


}

.design{
    padding: 100px 0;
    border: 3px;
    text-align: center;
    background-image: url("/images/img.jpg");
    opacity: 0.8;
    background-size: cover;
}
.hello{
    text-align: center;
}
.i1{
    text-align: center;
}

.features{
    background-color: yellowgreen;
    padding: 100px 0;
    border: 3px;
    text-align: center;
}
.flex-container{
    padding: auto;
    border: 3px;
    text-align: center;
    background-image: "/images/laptop1.jpg";
}
.express-custom{
    display: flex;
    padding: 120px 0;
    border: 3px;
    text-align: right;

}

.Interested{
    padding: 100px 0;
    border: 3px;
    height: 20rem;
    text-align: center;
    background-color: blanchedalmond;
}

.container2{
    background-color: #39467b;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.start{
    background-color: #39467b;
    padding: 20px;
    border:3px;
    color: white;
    border-style: solid;
    font-size: large;
}

.services{
    display: flex;
    padding:2px;
    border: 10px;
}